.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.layouts {
  display: flex;
  flex-wrap: wrap;
}

.teacherHeader {
  display: block;
  width: 100%
}



.new-layout-modal {
  display: flex;
}

.new-layout-modal .modal-content {
    vertical-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
